{% extends 'acervo/base.html' %}

{% block conteudo %}

<h1>Exemplares</h1>

<a class="botao-novo" href="{% url 'novo_exemplar' %}">+ Novo exemplar</a>

<ul>
    {% for exemplar in exemplares %}
        <li>
            <div class="card-corpo">
                <strong>{{ exemplar.livro.titulo }}</strong>
                <span>{{ exemplar.codigo_patrimonio }}</span>
                <span class="meta">{{ exemplar.get_estado_display }}</span>
            </div>
            <div class="card-acoes">
                <a href="{% url 'editar_exemplar' exemplar.pk %}">Editar</a>
                <a href="{% url 'apagar_exemplar' exemplar.pk %}">Apagar</a>
            </div>
        </li>
    {% empty %}
        <li class="vazio">Nenhum exemplar cadastrado.</li>
    {% endfor %}
</ul>

{% endblock %}
